#main_splash {
    width: 100vw;
    height : 100vh;
}

#splash_contents {
    position:absolute; width:100vw; height:100vh; display:flex; align-items: center;
    justify-content: center; flex-direction: column;
}

.splash_content_div {
    display:flex;  
    height:50px;
    align-items: center;
    justify-content: center;



}

#splash_logo {
    display:flex; width:150px; height:150px;
}

#splash_contents div {
    font-size: 2rem;
    font-weight: bold;
}